.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  #App-header {
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    animation: linear;
    animation-name: run;
    animation-duration: 2s;
  }
  @keyframes run {
    from { opacity: 0; left: 70% }
    to   { opacity: 1; left: 50% }
  }
}

.App-header {
  position:absolute;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(244, 93, 118);
  font-family: American Typewriter, serif;
}