body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Welcome {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  #Welcome-header {
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    animation: linear;
    animation-name: welcome_run;
    animation-duration: 2s;
    z-index: -1;
  }
  @keyframes welcome_run {
    from { opacity: 0; left: 70% }
    to   { opacity: 1; left: 50% }
  }

  #app_question {
    animation-name: button_run;
    animation: button_run 0.7s forwards;
    animation-delay: 2s;
    transform: scale(0);

  }
  @keyframes button_run {
    0%{
      transform: scale(0);
    }
    90%{
      transform: scale(1.2);
    }
    95%{
      transform: scale(0.95);
    }
    100%{
      transform: scale(1);
    }
  }
}

.Welcome-header {
  position:absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(244, 93, 118);
  font-family: American Typewriter, serif;
}

.welcome_question {
  margin-top: 30vh;
  font-family: American Typewriter, serif;
  font-size: 2rem;
}

.button_section {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.baby_img,.dog_img{
  height: 5rem;
}

button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: flex;
  font-family: American Typewriter, serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 7rem;
  width: 13rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.RegisterForm-header {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: American Typewriter, serif;
}

